div {
    color: black;

}

.alert {
    width: 200px;
    height: 50px;
}

.alert-success {
    background-color: green;
}
.alert-info {
    background-color:blue;
}
.alert-warning {
    background-color: yellow;
}
.alert-danger {
    background-color: red;
}

.highlight {
    background-color: aqua;
}